<a href="/listagem"><button style="margin:20px; background-color:azure; border: none; outline: none; cursor: pointer;">Clique aqui para ir à tela de listagem</button></a>
<div class=" p-5 rounded mt-3">

<div class="bg-light p-5 rounded mt-3">
   
<div class="container">
     <h1>Cadastrar</h1>
<form action="/cad" method="post">
        <div class="row mt-5">
            <div class="col-md-5 mb-3">

                <label for="nome" class="form-label" >Placa do carro</label>
                <input type="text" class="form-control" id="nome" placeholder="digite a placa do carro" name="placa">

            </div>

            <div class="col-md-5 mb3">
                
                <label for="email" class="form-label">Modelo do carro</label>
                <input type="text" class="form-control" id="email" placeholder="digite o modelo do carro" name="modelo">

            </div>
            <div class="col-md-10 mb-4" >
                <button class="mt-5 p-6 w-100 btn btn-success">Cadastrar</button>

            </div>
        </div>
    </form>
    <br>

</div>

</div>
    